.m2c {margin:2rem auto}

/* Popup modal */

.modal-map {
  background-color: #fff;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  z-index: 10;
  border: 1px solid #3a3a3a;
  border-radius: .25rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.modal-map[aria-hidden="false"] {
  position: fixed;
  opacity: 1;
}


/* Light box properties */

.lightbox {
  display: none;
  text-indent: -200em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* places the modal overlay between the main page and the modal dialog*/
  z-index: 5;
}

.lightbox.ON {
  display: block;
}

.modal-title,
.modal-desc {
  margin: 0;
  position: absolute;
  top: 5px;
  left: -200rem;
  background-color: #fff;
  color: #000;
  text-shadow: 0 0 0 #fff;
  font-size: 1.5rem;
}

.modal-title:focus,
.modal-desc:focus {
  left: 5px;
}


/* The pop-ups close button, moved via CSS to the top right of the pop-up */

.btn-modalClose {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
  overflow: hidden;
}

.btn-modalClose:hover,
.btn-modalClose:active,
.btn-modalClose:focus {
  background-color: #c00;
}

.btn-modalClose span {
  position: absolute;
  top: 0;
  left: -200em;
  display: block;
}
.btn-modalClose svg {
  fill: #fff;
  vertical-align: middle;
  margin: 8px;
}
/* The pop-up content div will scroll if it has too much content */

.btn {
  border: 0 solid;
  margin: 2rem auto;
  display:block;
  transition: outline .3s ease-out;
}
.btn:hover,
.btn:focus {
  outline: 2px solid #fff;
}

.modal {
  display: none;
}

.img-map {
  display: block;
  width: 100%;
}

[role="dialog"][aria-hidden="true"] {
  display: none;
}

[role="dialog"][aria-hidden="false"] {
  display: block;
}


/* modal loading graphic - http://loading.io/ */
/* 
.modal-map {
  background-image: url("https://drive.google.com/file/d/1_7FHLZemgPdonhLMCzCDtL3wmWj7cPpQ/view");
  background-repeat: no-repeat;
  background-position: center center;
} */